.Education-Skills-head{
    z-index: 1;
    &::before{
        @extend %circle-head;
    }
}
.Education-content{
    @extend %share-margin;
    .Education-information{
        @extend %share-box;
        border-radius: 56px;

        span{
            display: block;
            margin-bottom: 33px;
            font-size: 20px;
        }

    }
    .Skill-card{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        transition: $transition-standard;
        color: rgba(255, 255, 255, 0.609);
        background-color: transparent;
        .card-body{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;    
        }
        &::after{
            content: " ";
            background-color: $secondary-font-color;
            width: 5px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover{
            transform: translate(0,-4px);
            transition: $transition-standard;
            color: rgb(255, 255, 255);
        }
    }
}
.line{
    height: 3px;
}
