@import 'variables';
/* intro section*/
@import 'intro';

// section About Me
@import 'About';

// Education&Skills 
@import 'Education&Skills';

// Services 
@import 'services';

// portfolio
@import 'portfolio';

// responsive
@import 'responsive';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: $main-background-color;
    color: $main-font-color;
}
main{
	overflow: hidden;
}

// navbar
nav{
    top: 0;
    right: 0;
    transform: scaleY(0);
    transition: $transition-standard;
    transform-origin: top;
    z-index: 2;
    &.active{
        transition: $transition-standard;
        transform: scaleY(1);
    }
    .nav-item{
        background-color: $main-font-color;
        box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 25%);
        margin-top: 36px;
        width: 220px;
        height: 45px;
        text-align: center;
        position: relative;
        font-size: 24px;
        transition: $transition-standard;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border-bottom: 20px solid transparent;
            border-top: 25px solid transparent;
            border-right: 24px solid $secondary-font-color;
        }
        &:hover{
            transform:translateY(-5px);
            transition: $transition-standard;
        }
    }
}

// contact
#Contact-me{
    h2{
        font-size: 48px;
        span{
            color: $secondary-font-color;
        }
    }
    
}
.btn-send{
    background-color: $main-background-boxColor;
    color: #fff;
    &:hover{
        background-color: #fff;
    }
}

// footer
a {
	transition: .3s all ease;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
	}
}

//COVER BG

.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 40px;
			width: 40px;
			display: block;
			background: rgba(#000, .05);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $secondary-font-color;
			}
		}
	}
}


//FORM CONTROL
.form-control {
	height: 40px;
	background: #fff;
	color: #000;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid rgba(0,0,0,.1);
	&:focus, &:active {
		outline: none !important;
		box-shadow: none;
	}
}
textarea.form-control {
	height: inherit!important;
}

.ftco-section{
	h2{
		margin-bottom: 0;
	}
}

footer{
	padding: 7em 0;
}

//FOOTER 07
.footer-07{
	a{
		color: $bg-dark;
	}
	p{
		color: rgba(255,255,255,.3);
	}
	.footer-heading{
		font-size: 30px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 30px;
		.logo{
			color: #fff;
		}
	}
	.menu{
		margin-bottom: 30px;
		a{
			color: rgba(255,255,255,.6);
			margin: 0 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.ftco-footer-social{
		li{
			a{
				background: transparent;
			}
		}
	}
}